.show-bundle {
    img {
        width: 100%;
    }

    button.share {
        color: teal;
        font-weight: bold;
        background-color: white;
        border-color: teal;
        margin: 40px;
    }
    .last-slide {
        margin: 100px;
    }
}
button.slick-arrow {
    display: none !important;
}
