.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

form div {
  margin: auto;
  text-align: left;
}

div.session-actions {
  margin: 20px;
}

div.session-actions span {
  width: 90px;
  display: inline-block;
}

div.session-actions .active {
  font-weight: bold;
}

.sign-up-container {
  width: 200px;
}

.sign-up-container label {
  margin-bottom: 2px;;
}

.sign-up-container input {
  width: 100%;
}

.sign-up-container input.submit {
  margin-top: 4px;
}

.error-message {
  color: red;
  font-size: .75em;
  width: 400px;
}

.animate-hide {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s;
}

.animate-show {
  max-height: 80px;
  transition: max-height 0.5s;
}

a div.create-bundle {
  font-size: 40px;
  margin: 100px 0;
  width: 100vw;
  height: 100vh;
}