ul.app-button-bar.bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    margin: 0;
    width: 100vw;
    height: 46px;
    background-color: white;

    li {
        width: 30%;
        float: left;
        list-style: none;
        font-size: 30px;
    }
    li.blue {
        color: #007bff;
    }
}